body{
    text-align: center;
    font-family: adam.cg, sans-serif, roboto, helvetica;
}

.nav{
    background-color: #ddd;
}

.lead{
    font-size: 1rem;
}

.display-4{
    font-size: 2rem;
    font-weight: bold;
}

.navbar-brand{
    width: 5em;
}

.carousel{
    background-image: url('images/header.jpg');
    background-blend-mode: darken;
    height: 40vh;
    min-height: 300px;
    background-size: cover;
    text-align:center;
}

.display-title{
    font-size: 1em;    
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered img{
    width: 20em; 
}

.profile{
    background-color: #e9ecef;
    padding: 2rem 1rem;
    color: #444;
}

@media only screen and (max-width: 600px) {
    .profile{
        text-align: left;
    }

    .visi-misi .display-4 {
        text-align: left;
    }

    .team {
        display: block;
    }

    .kantor {
        display: block;
    }

    .container {
        display: block;
    }

    .surat-pengesahan img {
        width: 20em;
    }
}

@media only screen and (min-width: 600px) {
    .team {
        display: inline-grid;
        grid-template-rows: 200px;
        grid-template-columns: 200px;
        grid-gap: 3px;
    }

    .komisaris {
        display: inline-grid;
        grid-template-rows: 200px;
        grid-template-columns: 200px 200px;
        grid-gap: 3px;
    }

    .manager {
        display: inline-grid;
        /*grid-template-rows: 200px 200px;*/
        grid-template-columns: 200px 200px 200px 200px;
        grid-gap: 3px;
        text-align: center;
    }

    .kantor {
        display: inline-grid;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 300px 300px 300px;
        grid-gap: 3px;
    }

    .surat-pengesahan img {
        height: 50em;
    }
}

.lead {
    font-size: 0.8em;
    font-family: adam.cg, sans-serif, roboto, helvetica;
}

.profile img{
    width: 10em;
}

.kantor img {
    width: 15em;
}

.visi-misi {
    padding: 2rem 1rem;
    flex-wrap: wrap;
    color: #444;
}

.visi-misi-child{
    font-size: 0.8rem;
    text-align: left;
}

.visi-misi-child h2{
    font-weight: bold;
    font-size: 1rem;
}

.compro {
    display: flex;
    padding: 2rem 1rem;
    color: #444;
}

.flex {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.compro-child {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.program{
    background-color: #e9ecef;
    padding: 2rem 1rem;
    color: #444;
}

.program-flex{
    font-size: 0.8rem;
    text-align: left;
    width: 100%;
}

.program-child-1 {
    flex: 1;
}

.program-child-2 {
    flex: 1;
}

.program h2{
    font-weight: bold;
    font-size: 1rem;
}

/*.team{
    display: inline-grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 3px;
}*/

.person{
    /*display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 3em;*/
}

.person img{
    width: 10em;
}

.person h2{
    font-size:0.8rem;
}

.portofolio{
	display: grid;
	grid-gap: 20;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portofolio img{
	width: 100%;
	box-shadow: var(--shadow);
}

