body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 60px;
    margin-bottom: 15px;
    margin-right: -10px;
    margin-left: -10px;
    background-color: ghostwhite;
}

.navbar-logo {
    height: 50px;
    margin-left: 50px;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    text-decoration: none;
}

.navbar-menu div {
    text-decoration: none;
    color: dodgerblue;
    margin-right: 30px;
    font-weight: 600;
}

.navbar-menu div:hover {
    text-decoration: none;
    color: #bbb;
    margin-right: 30px;
    font-weight: 600;
}

.navbar-menu button {
    background-color: dodgerblue;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.navbar-menu button:hover {
    background-color: #bbb;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

#banner {
    height: 500px;
    background: url('images/header.jpg') no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    width: 100%;
}

.banner-hero {
    text-align: center;
}

.banner-hero img {
    height: 70px;
    margin-top: 150px;
}

.banner-hero h1 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.banner-hero p {
    font-size: 12px;
    color: #fff;
    margin-left: 70px;
    margin-right: 70px;
    font-style: italic;
}

.container-header {
    color: dodgerblue;
    font-size: 20px;
}

.container-body {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.container-body-sub-title {
    text-align: left;
    color: dodgerblue;
}

.container-body-sub-text {
    font-size: 12px;
    color: #444;
    width: 550px;
    text-align: left;
}

.container-button {
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
}

.button-download {
    background-color: dodgerblue;
    height: 30px;
    width: 200px;
    border-style: solid;
    border-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.button-download-japanese {
    margin-top: 3px;
}

.button-download-indonesia {
    margin-top: 6px;
}

.button-download:hover {
    background-color: #fff;
    height: 30px;
    width: 200px;
    border-style: solid;
    border-color: dodgerblue;
    border-radius: 5px;
    text-decoration: none;
    color: dodgerblue;
    font-weight: 600;
}

.display-4{
    font-size: 2rem;
    font-weight: bold;
}

.navbar-brand{
    width: 5em;
}

.carousel{
    background-image: url('images/header.jpg');
    background-blend-mode: darken;
    height: 40vh;
    min-height: 300px;
    background-size: cover;
    text-align:center;
}

.display-title{
    font-size: 1em;    
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered img{
    width: 20em; 
}

.profile{
    background-color: #e9ecef;
    padding: 2rem 1rem;
    color: #444;
}

@media only screen and (max-width: 600px) {
    .profile{
        text-align: left;
    }

    .visi-misi .display-4 {
        text-align: left;
    }

    .team {
        display: block;
    }

    .kantor {
        display: block;
    }

    .container {
        display: block;
    }

    .surat-pengesahan img {
        width: 20em;
    }
}

@media only screen and (min-width: 600px) {
    .team {
        display: inline-grid;
        grid-template-rows: 200px;
        grid-template-columns: 200px;
        grid-gap: 3px;
    }

    .komisaris {
        display: inline-grid;
        grid-template-rows: 200px;
        grid-template-columns: 200px 200px;
        grid-gap: 3px;
    }

    .manager {
        display: inline-grid;
        /*grid-template-rows: 200px 200px;*/
        grid-template-columns: 200px 200px 200px 200px;
        grid-gap: 3px;
        text-align: center;
    }

    .kantor {
        display: inline-grid;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 300px 300px 300px;
        grid-gap: 3px;
    }

    .surat-pengesahan img {
        height: 50em;
    }
}

.lead {
    font-size: 0.8em;
    font-family: adam.cg, sans-serif, roboto, helvetica;
}

.profile img{
    width: 10em;
}

.kantor img {
    width: 15em;
}

.visi-misi {
    padding: 2rem 1rem;
    flex-wrap: wrap;
    color: #444;
}

.visi-misi-child{
    font-size: 0.8rem;
    text-align: left;
}

.visi-misi-child h2{
    font-weight: bold;
    font-size: 1rem;
}

.compro {
    display: flex;
    padding: 2rem 1rem;
    color: #444;
}

.flex {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.compro-child {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.program{
    background-color: #e9ecef;
    padding: 2rem 1rem;
    color: #444;
}

.program-flex{
    font-size: 0.8rem;
    text-align: left;
    width: 100%;
}

.program-child-1 {
    flex: 1;
}

.program-child-2 {
    flex: 1;
}

.program h2{
    font-weight: bold;
    font-size: 1rem;
}

/*.team{
    display: inline-grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 3px;
}*/

.person{
    /*display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 3em;*/
}

.person img{
    width: 10em;
}

.person h2{
    font-size:0.8rem;
}

.portofolio{
	display: grid;
	grid-gap: 20;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portofolio img{
	width: 100%;
	box-shadow: var(--shadow);
}

